<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ArcGISSilverlight-All" version="3.3.0.33" targetFramework="sl50" />
  <package id="ArcGISSilverlight-Behaviors" version="3.3.0.33" targetFramework="sl50" />
  <package id="ArcGISSilverlight-Bing" version="3.3.0.33" targetFramework="sl50" />
  <package id="ArcGISSilverlight-Core" version="3.3.0.33" targetFramework="sl50" />
  <package id="ArcGISSilverlight-Portal" version="3.3.0.33" targetFramework="sl50" />
  <package id="ArcGISSilverlight-Printing" version="3.3.0.33" targetFramework="sl50" />
  <package id="ArcGISSilverlight-Toolkit" version="3.3.0.33" targetFramework="sl50" />
  <package id="ArcGISSilverlight-ToolkitDataSources" version="3.3.0.33" targetFramework="sl50" />
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="sl50" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="sl50" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="sl50" />
  <package id="SilverlightToolkit-Core" version="4.2010.4" targetFramework="sl50" />
  <package id="SilverlightToolkit-DataViz" version="4.2010.4" targetFramework="sl50" />
  <package id="SilverlightToolkit-Input" version="4.2010.4" targetFramework="sl50" />
</packages>